bokeh
numpy
pandas==1.0.1
requests==2.23.0
xlrd==1.2.0
python-dotenv==0.12
matplotlib==3.1.3
pandas-datareader==0.8.1
flask==1.1.2
pyarrow==0.16.0
flask-cors==3.0.8
cvxpy
osqp
scikit-learn
scipy
future
multiprocess
ecos
scs
PyPortfolioOpt==1.0.1
