.env
**.~lock**
../.idea
__pycache__/
node_modules/
.next/
package-lock.json
*.feather
*.png
*.csv
*.CSV
data/logs/
data/navs/
data/portfolios/
data/test/
data/weights/
plots/
scrapper/__pycache__/
markowitz/__pycache__/
*.pyc